.cv-importing-container {
  display: inline-block;
  width: 40%;
  height: 100%;
  /* background-color: aqua; */
  /* margin-top: 20px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

/* CSS */
.cv-importing-button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  background-color: #fbeee0;
  border: 2px solid #422800;
  /* border-radius: 30px; */
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.7rem;
  padding: 0 18px;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.cv-importing-button-2:hover {
  background-color: #fff;
}

.cv-importing-button-2:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .cv-importing-button-2 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.cv-importing-input {
  width: 67%;
  height: 100%;
}

.cv-importing-form {
  display: flex;
  justify-content: center;
  max-width: 70%;
  /* height: 10%; */
  gap: 20px;
}

.resume-upload {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
}

.resume-file-box {
  max-width: 50%;
}

.resume-file-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
