.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  /* font-size: 2rem; */
  /* background-color: aquamarine; */

  position: relative;
  top: 0;
}

.header-main-name {
  display: flex;
  width: 60%;
  font-size: 2rem;
  margin-left: 5%;
  /* justify-content: flex-start; */
  align-items: center;
}

.header-main-name img {
  width: 50px;
}

.header-navbar {
  display: flex;
  width: 40%;
  /* display: inline-block; */
  margin-right: 5%;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.header-navbar a {
  /* display: inline-block; */
  font-size: 1rem;
  flex-direction: row;
  text-decoration: none;
}
