.jd-container {
  display: inline-block;
  width: 40%;
  height: 100%;
  /* background-color: #f8f8ff; */
  /* margin-top: 20px; */

  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}
